<div
  class="text-base lg:w-[50%] m-5 lg:m-auto rounded-md lg:border lg:px-4 lg:shadow-lg"
>
  <div class="flex justify-between items-center mt-5 border-b-2 pb-2">
    <div class="font-medium text-lg">Recent transaction</div>
    <div class="text-blue-700 cursor-pointer" [routerLink]="['/all-expense']" >View all</div>
  </div>
  @if (!isLoading) {
  <div
    *ngFor="let expense of recentExpenseList; let i = index"
    [ngClass]="{ 'border-b-0': i == recentExpenseList.length - 1 }"
    class="flex justify-between items-center"
  >
  <div class="w-full">
    <app-expense-card [expenseItem]="expense"></app-expense-card>
  </div>
    
  </div>
  } @else {
  <div class="flex justify-center h-96 lg:h-20 items-center">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  }
</div>
