<div
  class="container text-center flex mb-2 gap-10 bg-white dark:bg-gray-800 text-white  shadow-md mx-auto rounded-md justify-between p-4 w-[400px]"
  [ngClass]="{
    'text-red-500': expenseItem.category === 'Food/Drink',
    'text-yellow-400': expenseItem.category === 'Shopping',
    'text-sky-600': expenseItem.category === 'Bill/Recharge',
    'text-green-600': expenseItem.category === 'Transport',
  }"
>
  <div class="font-bold">
     {{ expenseItem.category }}</div>
  <div class="font-semibold text-black">&#8377; {{ expenseItem.amount }}</div>
</div>
