<div class="bg-white py-2 min-h-dvh">
  <app-total-expesne-card></app-total-expesne-card>
  <app-recent-transaction></app-recent-transaction>
</div>

<div
  *ngIf="isAddExpenseFormOpen"
  class="w-[100vw] backdrop-brightness-50 fixed flex justify-center items-center h-dvh top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]"
>
  <app-add-expense-form
    [(isAddExpenseFormOpen)]="isAddExpenseFormOpen"
  ></app-add-expense-form>
</div>

<app-navigation-bar
  *ngIf="isUserLoggedIn && !isAddExpenseFormOpen"
  [(isAddExpenseFormOpen)]="isAddExpenseFormOpen"
></app-navigation-bar>
