<div
  class="bg-white py-2 min-h-dvh"
  [ngClass]="{ 'blur-sm': isAddExpenseFormOpen }"
>
  <app-total-expesne-card></app-total-expesne-card>
  <app-recent-transaction></app-recent-transaction>
  <!-- <div [ngClass]="{ 'backdrop-blur-sm': isAddExpenseFormOpen }">
    @for (expense of expenses; track $index) {
    <app-expense-card [expenseItem]="expense"></app-expense-card>
    }
  </div> -->
</div>
<!-- <app-navigation-bar [ngClass]="{'hidden bg-black' : isAddExpenseFormOpen}" [(isAddExpenseFormOpen)]="isAddExpenseFormOpen"> </app-navigation-bar> -->
<div>
  <app-add-expense-form
    *ngIf="isAddExpenseFormOpen"
    [(isAddExpenseFormOpen)]="isAddExpenseFormOpen"
  ></app-add-expense-form>
</div>
