<div class="flex items-center h-dvh flex-col gap-10 justify-center dark:bg-slate-900 dark:text-white shadow-md">
    <div class="flex items-center justify-center shadow-md bg-white dark:bg-gray-800 p-10 gap-10 flex-col">
        <div class="flex justify-center flex-col items-center">
            <div>
                <img class="h-20 w-20 object-cover" src="https://png.pngtree.com/png-vector/20231019/ourmid/pngtree-user-profile-avatar-png-image_10211467.png" height="1200" width="800" alt="">
            </div>
            <div>
                <p class="text-center font-bold text-2xl">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</p>
            </div>
        </div>
        <div>
            <button (click)="logoutUser()" class="bg-blue-600 text-white font-bold text-xl py-2 px-5 rounded-md" >Logout</button>
        </div>
    </div>
</div>